@use "../abstracts/" as *;

.mobile-nav-toggle {
  display: none;

  @include mqmax(799px) {
    display: block;
    position: fixed;
    right: size(4);
    cursor: pointer;
    background-color: transparent;
    border: none;

    & .icon-close {
      display: none;
    }
  }
}
