@use "../abstracts/" as *;

body {
  font-family: $ff-default;
  font-weight: fw(regular);
  font-size: fs(400);
  color: clr(neutral, 500);
}

header a {
  color: clr(primary, 400);
  transition: 150ms color ease-in-out;

  @include mqmax(md) {
    &:is(:hover, :focus) {
      color: clr(accent, 400);
    }
  }
}

h1,
h2,
h3 {
  color: clr(primary, 400);
  font-weight: fw(bold);
  line-height: 1.2;
}

h1 {
  font-size: fs(700);
}

h2 {
  font-size: fs(600);
}

h3 {
  font-size: fs(500);
}

p:not([class]) {
  max-width: 32ch;
}

.why-us__features {
  p {
    max-width: 42ch;
  }
}
